<%= simple_form_for @list do |f| %>
  <%= f.input :name, label: false, placeholder: "Comment s'appelle votre liste ?" %>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
  <%= f.submit "Continuer", class: "btn btn-flat btn-sm" %>
<% end %>
