<%= simple_form_for @list do |f| %>
    <div class="mt-4 bg-white">
      <%= f.input :name, :autofocus => true, label: false, placeholder: "Donnez un nom à votre liste", input_html: { class:"py-3 px-2 rounded autofocus form-control form-control-lg" } %>
      <%= f.input :status, input_html: {value: "saved"}, :as => :hidden, :wrapper_html=> { class: "m-0" }  %>
    </div>
    <div class="modal-footer bg-white">
      <%= f.submit "Continuer", class:"btn py-2 btn-warning px-5" %>
    </div>
<% end %>
