 <% if item.category.present? %>
  <div class="alert alert-light border px-3 m-0 shadow">
    <%= link_to list_discover_path(list, c: item.category.id), style:"text-decoration: none;" do %>
      <div class="col giveMeEllipsis4 px-0 text-primary">
        <li class="btn btn-link p-0 pr-1 recommendations text-muted font-weight-bold"><%= item.name %> +</li>
        <% item.category.siblings.each_with_index do |category, index| %>
          <% if index < 6 %>
            <li class="btn btn-link p-0 pr-1 recommendations" id="<%= index %>"><%= category.name %>,</li>
          <% end %>
        <% end %>
        <li class="btn btn-link p-0 pr-2 recommendations">Plus <i class="fas fa-arrow-right"></i></li>
      </div>
    <% end %>
  </div>
<% end %>
