<% lists.order(:created_at).reverse.each do |list| %>

  <%= link_to list_path(list), class:"list-group-item list-group-item-action" do %>
    <div class="d-flex align-items-center justify-content-between">
      <div id="list-description">
        <div class="d-flex w-100 flex-column mb-1">
          <h5 class="mb-0 text-primary"><%= list.name.capitalize %></h5>
          <% if list.users.any? %>
            <small class="text-muted mb-0">
              Liste gérée à plusieurs
            </small>
          <% end %>
        </div>
        <small class="text-muted"><%= list.list_items.not_deleted.size %> <%= list.list_items.not_deleted.size > 1 ? "éléments" : "élément" %></small>
      </div>
      <div class="product-options d-flex flex-column align-items-center">
        <i class="fas fa-lg fa-angle-right p-1"></i>
      </div>
    </div>
  <% end %>

<% end %>
