    <% case
       when score > 99 %>
      <div class="bg-transparent d-flex justify-content-center">
        <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="cursor: pointer; background-image: linear-gradient(90deg, rgb(165, 5, 189),rgb(239, 87, 203));">
           <p class="h2 font-weight-bold m-0 text-white">💖 Excellent!</p>
        </div>
      </div>

    <% when score > 59 %>
      <div class="bg-transparent d-flex justify-content-center">
        <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="cursor: pointer; background-image: linear-gradient(90deg, rgb(1, 198, 86),rgb(47, 152, 24));">
           <p class="h2 font-weight-bold m-0 text-white">💚 Super</p>
        </div>
      </div>

    <% when score > 29 %>
      <div class="bg-transparent d-flex justify-content-center">
        <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="cursor: pointer; background-image: linear-gradient(135deg, rgb(182, 244, 85),rgb(63, 128, 87));">
           <p class="h2 font-weight-bold m-0 text-white">💛 Bien</p>
        </div>
      </div>

    <% when score > 9 %>
      <div class="bg-transparent d-flex justify-content-center">
        <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="cursor: pointer; background-image: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37));">
           <p class="h2 font-weight-bold m-0 text-white">🧡 Moyen</p>
        </div>
      </div>

    <% when score < 10 %>
      <div class="bg-transparent d-flex justify-content-center">
        <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="cursor: pointer; background-image: linear-gradient(0deg, rgb(94, 5, 4),rgb(253, 19, 61));">
           <p class="h2 font-weight-bold m-0 text-white">💔 Pas top</p>
        </div>
      </div>
    <% end %>
