<p class="small m-0 p-2 text-muted text-center font-weight-light">Score: <%= score %>/100</p>

<% case
   when score > 90 %>
  <div class="bg-transparent d-flex justify-content-center">
    <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="background-image: linear-gradient(90deg, rgb(165, 5, 189),rgb(239, 87, 203));">
       <h1 class="font-weight-bold m-0 text-white">💖 Excellent!</h1>
    </div>
  </div>

<% when score > 70 %>
  <div class="bg-transparent d-flex justify-content-center">
    <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="background-image: linear-gradient(45deg, rgb(18, 88, 19),rgb(40, 226, 59));">
       <h1 class="font-weight-bold m-0 text-white">💚 Super</h1>
    </div>
  </div>

<% when score > 30 %>
  <div class="bg-transparent d-flex justify-content-center">
    <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="background-image: linear-gradient(90deg, rgb(234, 208, 36),rgb(134, 205, 157));">
       <h1 class="font-weight-bold m-0 text-white">💛 Bien</h1>
    </div>
  </div>

<% when score > 0 %>
  <div class="bg-transparent d-flex justify-content-center">
    <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="background-image: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37));">
       <h1 class="font-weight-bold m-0 text-white">🧡 Correct</h1>
    </div>
  </div>

<% when score <= 0 %>
  <div class="bg-transparent d-flex justify-content-center">
    <div class="border-0 border-success rounded-lg shadow-lg px-5 py-3" style="background-image: linear-gradient(0deg, rgb(94, 5, 4),rgb(253, 19, 61));">
       <h1 class="font-weight-bold m-0 text-white">♡ Pas top</h1>
    </div>
  </div>
<% end %>

