  <% if recipes.present? %>
    <div class="container px-0">
      <div id="selectedRecipes" class="row m-1">
          <% recipes.each do |recipe| %>
            <div class="col-md-6 p-1">
              <%= render 'recipe_card', recipe: recipe, list: list %>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>
