  <% if recipes.present? %>
    <div class="container px-0 mt-3">

      <div id="selectedRecipes" class="row m-0">
          <% recipes.each do |recipe| %>
            <%= render 'recipe_card', recipe: recipe, list: list %>
          <% end %>
      </div>
    </div>
  <% end %>
