<% if items.any? %>
  <div id="enregistres" class="listHeader mt-2"  data="<%= items.size %>">
    <div id="enregistresHeader">
      <ul class="border-0 rounded-top d-flex align-items-center justify-content-between pl-1 pb-0 m-0">
        <div class="d-flex flex-column text-muted mb-1">
          <p class="m-0 pb-0 pl-1 font-weight-bold lead" style="filter: brightness(1.40);">Produits enregistrés</p>
<!--           <small class="font-weight-light pl-1 mb-1">Appuyer sur <i class="fas fa-check-square text-muted"></i> pour ajouter un produit</small>
 -->        </div>
      </ul>
    </div>
    <div id="enregistresElements" class="sectionItems">
      <%= render partial: 'items/show', collection: items.order(:updated_at).reverse, as: :item %>
    </div>
  </div>
<% end %>
