<% if items.any? %>

  <div id="enregistres" class="listHeader mt-4"  data="<%= items.size %>">
    <div id="enregistresHeader">
      <ul class="border-0 rounded-top list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0">
        <div class="d-flex flex-column text-muted">
          <p class="m-0 p-1 pb-0 font-weight-bold lead" style="filter: brightness(1.40);">Produits enregistrés</p>
          <small class="font-weight-light pl-1 m-0">Sélectionner un produit pour l'ajouter</small>
        </div>
      </ul>
    </div>
    <div id="enregistresElements" class="sectionItems">
      <%  items.sort_by{|e| e.name.parameterize }.each do |item| %>
        <%= render 'items/show', item: item %>
      <% end %>
    </div>
  </div>
<% end %>
