<% if items.any? %>

  <div id="enregistres" class="listHeader"  data="<%= items.size %>">
    <div id="enregistresHeader">
      <ul class="border-0 rounded-top list-group-item d-flex align-items-center justify-content-between pl-1 pb-0 m-0" style="filter: brightness(1.40);">
        <div class="d-flex align-items-center">
          <p class="m-0 p-1 font-weight-bold lead text-muted">Produits enregistrés</p>
        </div>
      </ul>
    </div>
    <div id="enregistresElements" class="sectionItems">
      <%  items.sort_by{|e| e.name.parameterize }.each do |item| %>
        <%= render 'items/show', item: item %>
      <% end %>
    </div>
  </div>
<% end %>
