<% if @list.user == current_user || @list.users.include?(current_user) || @list.user.nil? %>
  <div class="container px-1" id="listPlaceholder">

      <%= render "list_items/form", list: @list, list_item: @list_item %>


  </div>
<% else %>
  <div class="container mt-5" id="listPlaceholder">
    <div class="d-flex flex-column align-items-center">
      <p class="text-muted text-center font-weight-light font-italic p-4 lead">Oups cette liste est vide...</p>
    </div>
  </div>
<% end %>

