<% if task_item.step_count <= task_item.task.max_steps %>
  <div class="d-flex flex-wrap">
    <% task_item.step_count.times do |step|  %>
      <div class="bigh1 p-1">✅</div>
    <% end %>
    <% (task_item.task.max_steps - task_item.step_count).times do |step|  %>
      <div class="bigh1 p-1">❌</div>
    <% end %>
  </div>

<% elsif task_item.step_count > task_item.task.max_steps %>
  <div class="d-flex flex-wrap">
    <% task_item.task.max_steps.times do |step|  %>
      <div class="bigh1 p-1">✅</div>
    <% end %>
    <% (task_item.step_count - task_item.task.max_steps).times do |step|  %>
      <div class="bigh1 p-1">☑️</div>
    <% end %>
  </div>

<% end %>
