  <div class="shadow p-0 mb-4 bg-white rounded">
    <div class="list-group list-group-flush" id="uncomplete_list_items">
      <%= render 'uncomplete_todo_list', list: list, list_items: list_items %>
    </div>
    <div>
      <% if list.user == current_user%>
        <%= render 'list_items/form', list: list, list_item: list_item %>
      <% end %>
    </div>
  </div>


<div class="mb-5" id="complete_list_items">
  <% if list_items.completed.any? %>
    <div>
      <div class="list-group list-group-flush mb-5">
        <%= render 'complete_todo_list', list: list, list_items: list_items %>
      </div>
    </div>
  <% end %>
</div>
