


<div class="shadow bg-white rounded">
  <div class="list-group list-group-flush" id="uncomplete_list_items" data-url="<%= sort_list_list_items_path(list) %>">
    <%= render 'uncomplete_todo_list', list: list, list_items: list_items %>
  </div>
</div>

  <div class="my-3"></div>

<div>
  <small class="text-muted d-flex justify-content-center p-2">Complétez votre liste ici</small>
  <% if list.user == current_user || list.users.include?(current_user)%>
   <%= render "list_items/form", list: list, list_item: list_item %>
  <% end %>


<div id="listCartPrice">
</div>




<div id="complete_list_items">
  <% if list_items.completed.any? %>
    <div>
      <div class="list-group list-group-flush my-4">
        <%= render 'complete_todo_list', list: list, list_items: list_items %>
      </div>
    </div>
  <% end %>
</div>
