  <% if list.sorted_by == "rayon" %>
    <%= render 'lists/sort_by_store_section', list: list %>


  <% elsif list.sorted_by == "category" %>
    <%= render 'lists/sort_by_category', list: list %>


  <% elsif list.sorted_by == "foodgroup" %>
    <%= render 'lists/sort_by_foodgroup', list: list %>


  <% else list.sorted_by == "date" || nil %>
      <div id="date">
        <% list.items.not_deleted.sort_by(&:id).each do |item| %>
          <%= render 'items/show', item: item %>
        <% end %>
      </div>

  <% end %>
