<%= render 'shared/navbar_black' %>



<div class="banner d-flex flex-column">

  <div class="container p-0">

    <div class="jumbotron text-center d-flex align-items-center flex-column bg-white p-0">

      <h1 class="display-4 mt-5">Nouvelle liste de courses</h1>

      <hr class="my-3">

        <div class="col-12">
          <div class="rounded text-center mb-2">

            <%= render 'form' %>


          </div>
        </div>

    </div>


  </div>

</div>
