<div class="grocerylist-item-card-id<%= fli.food.id %>">
  <div class="pl-2 pr-2 list-group-item list-group-item-action border-top border-bottom d-flex align-items-center justify-content-between">
    <div class="foodlist-item">
      <div class="d-flex w-90 justify-content-between">
        <h7 class="mb-1"><%= fli.food.name.capitalize %></h7>
      </div>
    </div>

   <%= link_to food_list_food_list_item_path(fli.food_list, fli), method: :delete, remote: true do %>
      <button type="button" class="close ml-2 mr-3 remove-item" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
   <% end %>
  </div>
</div>
