<div class="container">
  <div class="form-wrapper">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>Modifier un recommendation item</h2>
        <div class="recipe-form">
          <%= render 'form' %>
        </div>
        <%= link_to 'Annuler', recommendation_path(@recommendation) %>
      </div>
    </div>
  </div>
</div>
