<p>Bonjour,</p>

<p>
En tant que jeune entreprise, votre avis compte énormément pour développer notre service.
<br>
Vous pouvez me contacter directement pour soumettre une idée ou remonter un problème, je suis le fondateur de Mama et je répondrai avec plaisir !
</p>

<p>Juste par curiosité -- quelles ont été vos premières impressions de Mama ?</p>


<p>
<br>
--
<br>
Vincent Salamand
</p>
