<p>Bonjour,</p>

<p>
En tant que jeune entreprise, votre avis compte énormément pour développer notre service.
<br>
Pour soumettre une idée ou remonter un problème, vous pouvez me contacter directement, je suis le fondateur de Mama et je répondrai avec plaisir !
</p>

<p>Juste par curiosité -- quelles ont été vos premières impressions ?</p>


<p>
<br>
--
<br>
Vincent Salamand
</p>
