<p>Bonjour,</p>

<p>Votre avis compte énormément pour développer une nouvelle application comme Mama.</p>

<p>
Si vous avez une idée ou un problème, vous pouvez me contacter directement, je suis le fondateur de Mama et je vous répondrai avec plaisir !
</p>

<p>Juste par curiosité -- quelles ont été vos premières impressions ?</p>


<p>
<br>
--
<br>
Vincent Salamand
<br>
<%= link_to "clubmama.co", "https://www.clubmama.co", target: "blank"  %>
</p>
