<p>Bonjour,</p>

<p>Je voulais vous demander la raison pour laquelle vous n'aviez pas utilisé Mama depuis votre dernière visite ?</p>

<p>Merci d'avance pour votre aide, c'est très important pour moi.</p>

<p>
<br>
--
<br>
Vincent Salamand
<br>
<%= link_to "clubmama.co", "https://www.clubmama.co", target: "blank"  %>
</p>
