<p>Bonjour,</p>

<p>Vous n'avez pas utilisé Mama depuis votre dernière visite :-(</p>

<p>Nous sommes au tout début de l'aventure et avons à coeur de développer la meilleure expérience, pour cela votre avis est très important.</p>

<p>Pourriez-vous répondre à <%= link_to "ces deux questions en 30 secondes", "https://bit.ly/30KLdjG", target: "blank" %> pour m'aider à comprendre ce qu'il manque pour vous ?</p>

<p>Les réponses sont anonymes et nous aideront à améliorer le service pour vous.</p>

<p>Merci beaucoup !</p>

<p>
<br>
--
<br>
Vincent Salamand
<br>
<%= link_to "clubmama.co", "https://www.clubmama.co", target: "blank"  %>
</p>
