<p>Bonjour,</p>

<p>Pourriez-vous répondre à <%= link_to "ces cinq questions en 30 secondes", "https://bit.ly/3cXVHih", target: "blank" %> pour me dire ce que vous pensez vraiment de Mama ?</p>

<p>Les réponses sont anonymes et nous aideront à améliorer le service pour vous.</p>

<p>Merci beaucoup !</p>

<p>
<br>
--
<br>
Vincent Salamand
<br>
<%= link_to "clubmama.co", "https://www.clubmama.co", target: "blank"  %>
</p>
