
<h1><strong>Merci !</strong></h1>
<p>Vous êtes inscrit.e sur la liste d'attente de Supernet !</p>

<p>Le service se lance petit à petit pour l'instant car il y a beaucoup de travail pour vous offrir le meilleur.
<p>D'ici là, nous vous faisons patienter un peu, vous recevrez un email très prochainement pour vous informer des prochaines étapes ! </p>
