<p>Bienvenue sur Mama!</p>
<p>
Pour faire vos courses encore plus facilement, pensez à installer l'application sur votre téléphone en suivant les instructions visibles depuis <%= link_to "notre site mobile.", "https://www.clubmama.co", target: "blank"  %>
</p>

<p>
Mama
<br>
<%= link_to "clubmama.co", "https://www.clubmama.co", target: "blank"  %>
</p>

