
<p>
  Bonjour <%= @user.email %>,
  <br>
</p>

<p>Merci pour votre inscription et bienvenue au club !</p>

<p>Nous allons faire notre maximum pour vous faciliter la vie et optimiser vos courses du quotidien.</p>

<p>N'hésitez pas à nous écrire à mama@clubmama.co pour nous faire part de vos remarques.</p>


<p>Pour découvrir en avant première les listes de courses des meilleures recettes du moment, suivez notre compte <%= link_to "Instagram", "https://www.instagram.com/clubmama_/", target: "blank" %></p>

<p><br>Mama</p>
