<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="form-wrapper">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>Edit recommendation:</h2>
        <div class="recipe-form">

          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>
