<%= render 'shared/admin-navbar' %>

<div class="container">


    <h3>Recommendations:</h3>
    <h5><%= link_to 'Nouveau', new_recommendation_path, class:"btn btn-outline-primary" %></h5>

    <% unless @recommendations.nil? %>
        <ol>
          <% @recommendations.order(:id).reverse.each do |reco| %>
            <li>
              (<%= reco.id %>)
              <%= link_to reco.name, recommendation_path(reco) %>
            </li>
          <% end %>
        </ol>
    <% end %>


</div>
