<% if recipes.size > 0 %>
  <% recipes.each do |recipe| %>
    <%= render 'recipes/recipe_card', recipe: recipe, recipe_list: @recipe_list %>
  <% end %>
<% else %>
  <div class="list-group-item border-0">
    <div class="d-flex align-items-center justify-content-start">
      <div id="description">
        <div class="d-flex w-100 flex-column mb-0">
          <h5 class="mb-0 text-muted">Aucun résultat...</h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
