
<% if recipe_list.recipe_list_items.any? %>

  <div class="container py-3 bg-faded" id="recipeListId" data="<%= recipe_list.id %>">
    <div class="card-columns ">
      <% recipe_list.recipe_list_items.order(:id).each do |recipe_list_item| %>
      <%= render 'recipe_list_items/recipe_list_item_card', recipe_list: recipe_list, recipe_list_item: recipe_list_item, recipe: recipe_list_item.recipe %>

      <% end %>
    </div>
  </div>

<% else %>
    <div class="list-group-item border-0">
      <div class="d-flex align-items-center justify-content-center">
        <div id="description">
          <div class="d-flex w-100 flex-column mb-0">
            <%= link_to "Ajouter des idées repas", explore_recipe_list_path(@recipe_list), class:"h5 mt-5 text-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>


