<div class="my-3"></div>


<div class="px-1 d-flex justify-content-center">
  <%= link_to 'Ajouter des recettes', explore_recipe_list_path, class:"btn btn-flat" %>
</div>


<div class="card-columns" id="recipeListId" data="<%= recipe_list.id %>">

  <% if recipe_list.recipe_list_items.any? %>
    <% recipe_list.recipe_list_items.each do |recipe_list_item| %>
      <%= render 'recipe_list_items/recipe_list_item_card', recipe_list: recipe_list, recipe_list_item: recipe_list_item, recipe: recipe_list_item.recipe %>
    <% end %>

  <% else %>
    <div class="list-group-item border-0">
      <div class="d-flex align-items-center justify-content-center">
        <div id="description">
          <div class="d-flex w-100 flex-column mb-0">
            <h5 class="mb-0 text-muted">Le menu est vide</h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


