<div class="midbanner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= cl_image_path("home_photos/hp#{rand(1..53)}-min", crop: :scale, :quality=>"auto:low", :width => :auto, :responsive_placeholder => "blank", :fetch_format=>:auto) %>);">

  <%= render 'shared/navbar_white' %>

  <div class="container m-auto d-flex flex-column justify-content-start">
    <h1 class="font-weight-bold ">Vos menus</h1>
    <small class="text-white">Retrouvez ici les recettes de vos menus.</small>
  </div>

</div>


<div class="container my-3">
  <% if @recipe_lists.any? %>

    <div class="list-group shadow">
      <% @recipe_lists.order(:id).reverse.each do |recipe_list| %>
        <%= link_to recipe_list_path(recipe_list) do %>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center justify-content-between">
              <div id="description">
                <div class="d-flex w-100 flex-column mb-0">
                  <h5 class="mb-0 text-primary"><%= recipe_list.name %></h5>
                </div>
              </div>
              <div class="product-options d-flex flex-column align-items-center">
                <i class="fas fa-lg fa-angle-right p-1"></i>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% else %>

    <div class="my-5 d-flex align-items-center justify-content-between">
      <p class="lead text-muted">Les menus que vous créez seront visibles ici.</p>
    </div>
  <% end %>
</div>

