<% content_for :meta_title, "Sélection de recettes" %>
<% content_for :meta_description, "Sélectionnez les recettes qui vous plaisent pour vos prochains repas !" %>

<% unless ["add_to_homescreen"].include?(params[:action])%>
  <div id="iOSInstallNavbar"></div>
  <div id="androidInstallNavbar"></div>
<% end %>

<%= render 'shared/nav_actions' %>



<div class="container px-0 mb-5">
  <div id="recipesCuisine">
    <div id="recipesHeader" class="d-flex flex-column align-items-center justify-content-center">
      <h1 class="text-muted text-center">
        Sélection
      </h1>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center mt-3">
      <% if @recipes.present? %>

        <div id="recipeElements" class="col-sm-4 my-auto">
          <%= render partial: 'recipes/recipe_card', collection: @recipes.sort_by{|r| r.title.parameterize }, as: :recipe, locals: {list: nil } %>
          <div class="container px-1 mt-3">
            <div class="jumbotron text-center mb-2 px-2 py-3">
              <p class="pl-1 lead mb-3">
                <i class="fas fa-share"></i>
                 Partager la sélection
              </p>

              <div class="d-flex">
                <!-- COPY LINK Target -->
                <input class="form-control" type="text" id="recipelistLink" value="<%= recipe_list_url(@recipe_list, host: request.host) %>">
                <!-- COPY LINK Trigger -->
                <button class="clipboard-btn btn btn-light border" data-clipboard-target="#recipelistLink" id="copyLink">
                    COPIER
                </button>
              </div>
            </div>
          </div>
        </div>

      <% else %>
          <div class="d-flex align-items-center m-2 mt-5">
            <div id="description">
              <div class="d-flex w-100 flex-column mb-0">
                <p class="text-muted">Il n'y a pas de recette.</p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>



<div style="padding: 50px;"></div>

