<div class="container my-3">
  <h2 class="pl-0 pr-2 mb-0 font-weight-bold" id="title"><%= food.name.capitalize %></h2>
  <div class="d-flex p-1">
    <h5 class="font-weight-light grocerylist-count mr-1"><%= food.store_items.where(store: @store).size %></h5> <h5 class="font-weight-light"></%> <%= food.store_items.where(store: @store).size < 2 ?  " produit" : " produits" %> en rayon</h5>
  </div>
</div>


<div class="container my-3">
  <div class="shadow bg-white">
    <div class="list-group list-group-flush mb-2">
      <% food.store_items.where(store: @store).each do |store_item| %>
        <%= render 'store_items/available_store_items', store_item: store_item, item: nil %>
      <% end %>
    </div>
  </div>
</div>
