<!-- to delete -->


<div class="container mt-5">
  <div class="d-flex flex-column-reverse">
    <h1 class="font-weight-bold mb-0"><%= @recipe.title.capitalize %>  </h1>
    <p class="ml-1 text-muted mb-0">Sélection de produits chez <strong class="btn-outline-primary"><%= @store.name %></strong> pour:</p>
  </div>

</div>

<hr class="my-4">

<div class="container mt-3 mb-2">
  <div class="d-flex align-items-center justify-content-between p-1">
    <div>
      <h5 class="mb-0 font-weight-light">Sélection 1er prix</h5>
      <small class="text-muted p-0 pt-1">Cliquez sur un produit pour le changer.</small>
    </div>
    <h3><strong><%= @store.get_cheapest_cart_price(recipe.items) %>€</strong></h3>
  </div>
</div>

<div class="container mb-5">
  <div class="shadow bg-white">
    <div class="list-group list-group-flush mb-2">
      <% recipe.items.each do |item| %>
        <% if StoreItem.get_cheapest_store_item(item.food, @store) %>
          <%= render 'store_items/available_store_items', store_item: StoreItem.get_cheapest_store_item(item.food, @store), item: item %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
