
<div class="container my-5">
  <h1 class="display-4 font-weight-bold">Magasins</h1>
</div>

<hr class="my-5">


<div class="container my-5">
  <div class="list-group shadow">
    <% @stores.each do |store| %>
      <%= render 'stores/available_stores', store: store %>
    <% end %>
  </div>
</div>
