<div class="container my-4">
  <h1 class="mb-0"><%= @store.name.capitalize %></h1>
  <p class="ml-1 text-muted">Catalogue du magasin <%= @store.store_type %></p>
</div>


<div class="container">

  <div class="card-group">
    <% @shelters.each do |shelter| %>
      <div class="card">
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title"><%=  shelter.capitalize %></h5>
        </div>
      </div>
    <% end %>
  </div>

</div>
