<div class="container my-5">
  <h1 class="display-4 font-weight-bold"><%= @store.name.capitalize %></h1>
  <p class="ml-1 text-muted">Catalogue du magasin <%= @store.store_type %></p>
</div>

<hr class="my-5">


<div class="container my-5">
  <div class="list-group shadow">
    <% @shelves.each do |store_shelve| %>
      <%= render 'stores/store_shelves', store_shelve: store_shelve %>
    <% end %>
  </div>
</div>
