  <div class="container mb-3 px-0">
    <div class="shadow bg-white">
      <div class="list-group list-group-flush mb-2" id="storeCartItemsList">
        <% store_cart_items.sort_by(&:item_id).each do |store_cart_item| %>
          <%= render 'store_cart_items/show', store_cart_item: store_cart_item, list: list %>
        <% end %>
      </div>
    </div>
  </div>
