  <!-- Button trigger Menu builder modal -->
  <a class="btn btn-block btn-outline-flat py-3 font-weight-bold" data-toggle="modal" data-target="#menuBuilderModal" id="findRecipes">Trouver des idées repas</a>

  <!-- Menu Builder Modal -->
  <div class="modal fade" id="menuBuilderModal" style="overflow-y:auto;" tabindex="-1" role="dialog" aria-labelledby="menuBuilderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-white" id="menuBuilderPage">

        <div style="height: 80vh;" class="d-flex align-items-center justify-content-center">
          <i id="modalSpinner" class="fas fa-circle-notch fa-spin text-primary"></i>
        </div>

      </div>
    </div>
  </div>
