<div class="container d-flex justify-content-between mt-3 mb-5 bg-white">
  <button class="close px-0" id="closeMenuBuilderBtn">Fermer</button>
  <button class="close px-0" id="showMenuBtn">Voir le menu</button>
</div>



<div class="modal-body m-0 p-0" id="menuBuilderContent">

  <div class="list-group">
    <% recipes.each do |recipe| %>

      <div class="list-group-item list-group-item-action border-0 recipeIndex" data="<%= recipe.id %>" style="cursor: pointer;">
        <div class="d-flex align-items-center justify-content-between">
          <div id="description">
            <div class="d-flex w-100 flex-column mb-0">
              <h5 class="mb-0 text-primary"><%= recipe.title.capitalize %></h5>
            </div>
            <small class="text-muted"><%= recipe.origin %></small>
          </div>
          <div class="product-options d-flex flex-column align-items-center">
            <i class="fas fa-lg fa-angle-right p-1"></i>
          </div>
        </div>
      </div>

    <% end %>
  </div>

</div>

