<div class="container d-flex justify-content-between mt-3 mb-4 bg-white">
  <button class="close px-0" id="closeMenuBuilderBtn">Fermer</button>
  <button class="close px-0" id="showMenuBtn">Voir le menu</button>
</div>

<ul class="nav nav-tabs justify-content-center" id="MenuBuilderTab">
  <li class="nav-item">
    <a class="nav-link active" style="cursor: pointer;">🔮Suggestions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-primary" style="cursor: pointer;" id="searchRecipesTab"><i class="fas fa-search"></i> Recherche</a>
  </li>
</ul>


<div class="modal-body m-0 p-0" id="menuBuilderContent">


  <%= render 'recipes/recipes_modal_results', recipes: recipes %>

</div>

