<div class="sticky-top bg-light">
    <div class="container px-2">
      <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-end" style="background-color: transparent;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-lg fa-times p-2"></i>
          </button>
      </nav>
    </div>
</div>


<div id="categoryShow" class="bg-light">

    <div class="container px-2">
      <h1 class="pl-1">Pour cuisiner vos produits:</h1>
    </div>

  <div class="container px-2">
    <div id="relatedRecipes">
      <% if recipes.present? %>
        <%= render "recipes/related_recipes", recipes: recipes, list: list, source_type: source_type, source_id: source_id  %>
      <% else %>
        <p class="lead text-muted m-2 mt-5">Ajouter des produits pour obtenir des résultats.</p>
      <% end %>
    </div>
  </div>



  <div style="padding: 50px;"></div>

</div>
