<div class="list-group">
  <% unless recipes.nil? %>
    <% recipes.each do |recipe| %>

      <div class="list-group-item list-group-item-action border-0 recipeIndex" data="<%= recipe.id %>" style="cursor: pointer;">
        <div class="d-flex align-items-center justify-content-between">
          <div id="description">
            <div class="d-flex w-100 flex-column mb-0">
              <h5 class="mb-0 text-primary"><%= recipe.title.capitalize %></h5>
            </div>

          </div>
          <div class="product-options d-flex flex-column align-items-center">
            <i class="fas fa-lg fa-angle-right p-1"></i>
          </div>
        </div>
      </div>

    <% end %>

  <% else %>
      <div class="list-group-item list-group-item border-0" >
        <div class="d-flex align-items-center justify-content-between">
          <div id="description">
            <div class="d-flex w-100 flex-column mb-0">
              <h5 class="mb-0 text-primary">Aucun résultat pour cette recherche</h5>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
