<div class="card-group">
  <% Store.all.each do |store| %>
    <div class="card">
      <div class="card-body d-flex flex-column align-items-center">
        <h5 class="card-title"><%= store.name.capitalize %></h5>
        <h3 class="card-title"><%= store.get_recipe_price(@recipe.foods) %>€</h3>
        <p class="card-text"><%= link_to "Voir le panier", store_cart_path(store, :recipe_id => @recipe.id), class:"shadow-lg btn btn-sm btn-primary" %></p>
      </div>
    </div>
  <% end %>
</div>
