  <% Store.all.each do |store| %>

    <li class="pl-3 pr-3 list-group-item d-flex flex-column justify-content-start">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <h4> <%=  store.name.capitalize %> </h4>

        </div>
        <div>
          <h4> <%= store.get_recipe_price(recipe) %>€</h4>
        </div>

      </div>
    </li>

  <% end %>
