<div class="midbanner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= cl_image_path("home_photos/hp#{rand(1..53)}-min", crop: :scale, :quality=>"auto:low", :width => :auto, :responsive_placeholder => "blank", :fetch_format=>:auto) %>);">

  <%= render 'shared/navbar_white' %>

  <div class="container m-auto d-flex flex-column justify-content-start">
    <h1 class="font-weight-bold ">Menus</h1>
    <small class="text-white">Retrouvez ici les recettes de vos menus.</small>
  </div>

</div>


<div class="container my-3">
  <%= render 'recipes/index', recipes: @recipes %>
</div>
