<div class="midbanner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= cl_image_path("home_photos/hp#{rand(1..53)}-min", crop: :scale, :quality=>"auto:low", :width => :auto, :responsive_placeholder => "blank", :fetch_format=>:auto) %>);">

  <%= render 'shared/navbar_white' %>

  <div class="container m-auto d-flex flex-column justify-content-start">
    <h1 class="font-weight-bold ">Menus</h1>
    <small class="text-white">Retrouvez ici les recettes de vos menus.</small>
  </div>

</div>


<div class="container my-3">
  <% if @recipes.any? %>
    <%= render 'recipes/index', recipes: @recipes %>
  <% else %>
    <div class="my-5 d-flex align-items-center justify-content-between">
      <p class="lead text-muted">Les recettes que vous ajoutez dans vos menus seront visibles ici.</p>
    </div>
  <% end %>
</div>
