<%= render 'shared/admin-navbar' %>

<div class="container">
  <h1>Nouveau contenu en attente de validation</h1>
  <div>
    <% @recipes.order(:id).each do |recipe| %>
      <li>
        <%= recipe.id %> |
        <%= link_to recipe.title, recipe_path(recipe) %>
      </li>
    <% end %>
  </div>

</div>
