<div class="container">
  <div class="row">
    <h1>Nouveau contenu en attente de validation</h1>
  </div>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <li>
        <%= recipe.id %> |
        <%= link_to recipe.title, recipe_path(recipe) %>
      </li>
    <% end %>
  </div>

</div>
