<div class="wrapper d-flex flex-column bd-highlight" id="assistantWrapper" style="background: grey; height: 100vh;">
  <nav class="sticky-top navbar d-flex justify-content-end px-2" id="cuisine" data="<%= current_recipe_list.id %>">
    <%= render "shared/cuisine" %>
  </nav>

  <div class="d-flex justify-content-center bd-highlight" id="recommendationData" data="<%= @recipe_ids %>"  style="overflow-x: hidden; overflow-y: hidden; height: 75vh;">
    <div id="recipeRecommendations" class="col-sm-4 mx-auto my-auto" data="">
      <!-- insert recommened recipes here -->
    </div>
  </div>

</div>
