<% @recommended_recipes.each_with_index do | recipe, index|  %>
  <div class="container">
    <div class="shadow p-3 mb-2 bg-white rounded" >
      <h4 class="mb-0"><%= recipe.title %></h4>
      <small><%= recipe.foods.size %> ingrédients</small>
      <h6 ><%= link_to "Cliquer ici pour voir la recette", recipe.link, target: "_blank" %></h6>
    </div>
    <%= render 'cards-block', food_data: recipe.foods, type: "recipe-#{index}" %>
  </div>
<% end %>
