<div class="container">
  <div class="form-wrapper">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>Edit shopping list:</h2>
        <h5><%= link_to 'Back', food_list_path(@foodlist) %></h5>
        <div class="recipe-form">

          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>
