<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="row">
    <h1><%= @foodlist.name %></h1>
  </div>
  <div class="row">
    <% @foods.each do |food| %>
      <li><%= food.recipes.where(status: "published").count %> | <%= food.name %></li>
    <% end %>
  </div>

</div>
