<div class="container">
  <div class="shadow p-3 mb-2 bg-white rounded">
    <h2 class="pl-0 pr-0 mb-0" id="title"><%= @foodlist.name  %> </h2>
  </div>
</div>


<div class="container">
  <% if @foodlist.foods.any? %>
    <div class="shadow p-0 mb-5 bg-white rounded">
      <div class="list-group list-group-flush">
        <% @foodlist.food_list_items.order(:id).each do |fli| %>
          <%= render 'food_list_items/item-card', fli: fli, foodlist: @foodlist %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="shadow p-0 mb-5 bg-white rounded">
      <a class="list-group-item list-group-item-action">
        <p class="mb-1">La liste s'affiche ici.</p>
        <small class="text-muted">Faîtes votre choix ci-dessous !</small>
      </a>
    </div>
  <% end %>
</div>


<div class="container">
  <% if @foodlist.food_list_type == "grocery_list" %>
    <%= link_to 'Compléter la liste', add_food_list_path(@foodlist), class: 'btn btn-flat btn-block p-3 mb-4' %>
  <% end %>
</div>
