<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="form-wrapper">

        <h2>Construire une recette</h2>
        <div class="recipe-form">
          <%= render 'form' %>
        </div>
        <h5><%= link_to 'Créer une recette existante', new_recipe_path %></h5>
        <h5><%= link_to 'Importer une recette existante', import_recipes_path %></h5>

  </div>
</div>
