 <div class="sticky-top bg-white">
  <div class="container">
       <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
          <a class="navbar-brand text-dark d-flex align-items-center" href="/">
            <i class="fas fa-lg fa-arrow-left p-2"></i>
          </a>
       </nav>
  </div>
</div>


<div class="container my-3 px-2">
  <div class="jumbotron bg-white">
      <h1 class="bigh1 font-weight-bold">Mot de passe oublié ?</h1>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: "Email du compte",
                      input_html: { autocomplete: "email", class:"form-control-lg font-weight-bold" } %>
        </div>

        <div class="form-actions d d-flex justify-content-end">
          <%= f.button :submit, "Envoyer les instructions", class: "btn btn-light border mb-3" %>
        </div>
      <% end %>

  </div>
</div>
