<div class="modal fade" id="installAndroidModal" tabindex="-1" role="dialog" aria-labelledby="installAndroidModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column pt-0">
        <div class="d-flex flex-column">
         <h1 style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 1.5rem;">
              Supernet
          </h1>
        </div>

        <p class="text-primary font-weight-bold">Pour ajouter l'app sur votre écran d'accueil:</p>
        <ol class="text-left">
          <li class="font-weight-light text-dark">Depuis votre navigateur internet, ouvrez le menu en haut à droite</li>
          <li class="font-weight-light text-dark">Sélectionnez l'option "Ajouter sur l'écran d'accueil"</li>
        </ol>


      </div>
    </div>
  </div>
</div>
