<div class="modal fade" id="authenticationModal" tabindex="-1" role="dialog" aria-labelledby="authenticationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body" style="min-height: 50vh;" id="authenticationContent">



      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light border" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

