

  <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-lg fa-times p-2"></i>
          </button>
        </div>
        <div class="modal-body m-0 p-0 bg-white">

        <ul class="list-group text-center">

          <%= link_to 'https://bit.ly/2NGEeRd', target: "_blank" do %>
            <li class="list-group-item py-4 border-0">
              <%= cl_image_tag("menu_icons/thank-you", width: 30, class:"pb-1") %><br>Donner votre avis
           </li>
          <% end %>
          <%= link_to 'https://go.crisp.chat/chat/embed/?website_id=32b1bab5-33b2-4a6b-baee-556ff68f8dfc', target: "_blank" do %>
            <li class="list-group-item py-4 border-0">
              <%= cl_image_tag("menu_icons/speech-balloon", width: 30, class:"pb-1") %><br>Envoyer un message
            </li>
          <% end %>
        </ul>

        </div>
        <div class="modal-footer bg-white">
          <button type="button" class="btn btn-light border" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
