<% if current_user %>
  <%= link_to cuisine_path, class:"openLink" do %>
    <div class="btn btn-lg btn-light border align-items-center">
      <p class="m-0">
         <i class="fas fa-check-circle text-success"></i> <%= current_recipe_list.recipes.size %>
      </p>
    </div>
  <% end %>

<% else %>
    <div class="btn btn-lg btn-light border align-items-center" style="cursor: pointer;"  id="startAuthenticationBtn">
      <p class="m-0">
         <i class="fas fa-check-circle text-success"></i> <%= current_recipe_list.recipes.size %>
      </p>
    </div>
<% end %>
