<% if recipe.is_user_favorite?(current_user) %>
  <button class="btn btn-transparent rounded removeFromFavorites p-0" style="cursor: pointer;" data="<%= recipe.id %>"><i class="fas fa-lg fa-star px-2" style="color: #ffd700 ;"></i></button>
<% else %>
  <button class="btn btn-transparent rounded text-muted addToFavorites p-0" style="cursor: pointer;" data="<%= recipe.id %>"><i class="fas fa-lg fa-star px-2"></i></button>
<% end %>
