<div class="footer">
  <div class="footer-links">
      <a href="https://www.instagram.com/clubmama_/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/groups/leclubmama/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright font-weight-light">
      <small>💌 mama@clubmama.co</small>
  </div>
</div>
