

<nav class="sticky-bottom mt-5">
  <hr class="my-4">
  <div class="footer mb-2 mt-0 d-flex flex-column align-items-center">
    <div class="footer-links">
      <a href="https://www.instagram.com/clubmama_/" target="_blank">📸</a>
      <a href="https://www.facebook.com5groups/leclubmama/" target="_blank">📘</a>
    </div>
    <div class="footer-copyright text-black-50 font-weight-light font-italic">
      <small>💌mama@clubmama.co</small>
    </div>
  </div>

</nav>
