<div class="modal fade" id="installiOSModal" tabindex="-1" role="dialog" aria-labelledby="installiOSModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column pt-0">
        <p class="text-muted font-weight-bold">Pour ajouter l'app sur votre écran d'accueil:</p>
        <div class="d-flex flex-column justify-content-start text-left">
          <p class="text-dark">Tapez sur <img src="https://img.icons8.com/ios-glyphs/24/000000/share-rounded.png" class="text-dark" style="height: 20px;"/> de votre navigateur pour afficher les options disponibles</p>
          <p class="text-dark">Sélectionner l'option "Ajouter sur l'écran d'accueil"</p>
        </div>
      </div>
    </div>
  </div>
</div>
