<div class="d-flex flex-column align-items-center marketing" benefit="3">
  <h2>Gagnez</h2>
  <p class="lead text-center">des points en fonction de vos choix</p>
  <%= cl_image_tag("product_screens/iphone11_list_points", :fetch_format=>:auto, :height=>500) %>
</div>
