<div class="d-flex flex-column align-items-center marketing" benefit="2">
  <h2>Trouvez</h2>
  <p class="lead text-center">de nouvelles idées</p>
  <%= cl_image_tag("product_screens/iphone11_list_ideas", :fetch_format=>:auto, :height=>500) %>
</div>
