<div class="d-flex flex-column align-items-center marketing" benefit="4">
  <h2>Analysez</h2>
  <p class="lead text-center">vos achats du quotidien</p>
  <%= cl_image_tag("product_screens/iphone11_list_analysis", :fetch_format=>:auto, :height=>500) %>
</div>
