<div class="d-flex flex-column align-items-center marketing" benefit="1">
  <h2>Découvrez</h2>
  <p class="lead text-center">les produits recommandés pour la santé</p>
  <%= cl_image_tag("product_screens/iphone11_grocerylist", :fetch_format=>:auto, :height=>500) %>
</div>
