<div class="container d-flex justify-content-center mt-3 mb-4 bg-white">
  <div class="close px-0">Chargement...</div>
</div>

<div style="height: 80vh;" class="d-flex align-items-center justify-content-center">
  <i id="modalSpinner" class="fas fa-circle-notch fa-spin text-primary"></i>
</div>
