<div class="wrapper border bg-white">
  <div class="container">
    <nav class="px-0 py-1 navbar navbar-expand-lg d-flex justify-content-between" id="iOSInstallMessage">

      <div class="d-flex flex-column">
        <p class="m-0 font-weight-bold">Mama</p>
        <small class="text-muted">Ajoutez l'app sur votre écran d'accueil.</small>
      </div>

      <div>
        <button class="btn btn-lg btn-link p-1">INSTALLER</button>
      </div>

    </nav>
  </div>
</div>
