<div class="sticky-top bg-white">
    <div class="container">
      <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
          <a class="navbar-brand text-dark d-flex align-items-center" href="/browse">
            <i class="fas fa-lg fa-arrow-left p-2"></i> <span class="text-white"></span>
          </a>
      </nav>
    </div>
  <% unless user_signed_in? %>
    <div class="wrapper py-0 alert-warning">
      <nav class="p-0 navbar navbar-expand-lg  d-flex align-items-center justify-content-center">

        <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-sm btn-link m-1 border-0"  %>
        <%= link_to "S'inscrire", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-sm btn-link alert-warning m-1 border-0 signupBtn", context: "Show list", action: "signup"  %>

      </nav>
    </div>
  <% end %>
</div>




<% unless user_signed_in? %>
<!-- Navbar End -->
<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
<% end %>
