<nav class="navbar sticky-top navbar-expand-md navbar-white bg-white d-flex shadow-sm mb-3 pt-0 pb-0">
  <a class="navbar-brand text-dark mr-1" href="/">😋</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-dark pb-0 pt-0" href="/">ClubMama <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to current_user.username, profile_path, class:"nav-link text-black-50 pb-0 pt-0" %>
        <% end %>
      </li>
    </ul>

  <% if params[:controller] == "lists" && params[:action] == "show" %>
    <%= link_to list_get_cart_path(@list), class: 'ml-auto p-2' do %>
      <button type="button" class="btn btn-sm btn-primary ml-auto p-2">
        Continuer vers le panier
      </button>
    <% end  %>
  <% end %>

</nav>
