<div class="wrapper bg-transparent">
  <div class="container">
    <nav class="px-0 py-1 navbar navbar-expand-lg d-flex justify-content-center" id="androidInstallBtn">

      <div class="d-flex align-items-center justify-content-center">
        <button class="btn btn-lg btn-link rounded font-weight-bold px-3 py-1">INSTALLER L'APPLICATION</button>
      </div>

    </nav>
  </div>
</div>
