<div class="wrapper border">
  <div class="container px-2">
    <nav class="px-0 py-1 navbar navbar-expand-lg d-flex justify-content-between" id="iOSInstallMessage">

      <div class="d-flex flex-column">
        <p class="m-0 font-weight-bold text-secondary">Supernet</p>
        <small class="text-muted">Ajouter sur votre écran d'accueil</small>
      </div>

      <div>
        <button class="btn btn-light border">INSTALLER</button>
      </div>

    </nav>
  </div>
</div>
