<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", height: 30 %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <button type="button" class="btn btn-outline-secondary btn-lg"><%= link_to "ðŸ”Ž", assistant_path %></button>
    <% if current_user %>
      <button type="button" class="btn btn-outline-secondary btn-lg"><%= link_to "ðŸ–¥ï¸", dashboard_path %></button>
    <% end %>
  </div>

</div>
