  <div class="container">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between" style="background-color: transparent;">
       <a class="navbar-brand text-dark d-flex align-items-center font-weight-bold" href="/">
        <%= cl_image_tag("logo_qj08zi", width: 30, height: 30) %> Mama <span class="badge badge-pill badge-outline-secondary"><small>BETA</small></span>
      </a>

      <% if params[:controller] == "lists" %>

        <%= link_to "Ajouter au panier", list_get_store_carts_path(:list_id => @list.id), class:"btn btn-link btn-lg p-0", id:"loadStoreCartsBtn"%>
      <% end %>


    </nav>
  </div>
