<div class="wrapper border alert-primary">
  <div class="container px-2">
    <nav class="px-0 py-1 navbar navbar-expand-lg d-flex justify-content-center" id="XXandroidInstallBtn">

      <div class="d-flex flex-column">
        <%= link_to add_to_homescreen_path(device: "android") do %>
          <p class="m-0 font-weight-bold text-primary" style="font-size: 1rem; cursor: pointer;"><%= cl_image_tag("menu_icons/pointing-right", width: 25, class:"pb-1") %> Ajouter sur l'écran d'accueil</p>
        <% end %>
      </div>

      <div>
      </div>

    </nav>
  </div>
</div>
