<nav class="navbar sticky-top navbar-expand-lg navbar-white bg-white d-flex shadow-sm mb-4">
  <a class="navbar-brand text-dark" href="/">ðŸ˜‹ FoodMama</a>

  <% if params[:controller] == "food_lists" && params[:action] == "add" %>
    <%= link_to 'ðŸ“ Envoyer la liste', food_list_path(@foodlist), class: 'btn btn-flat ml-auto p-2' %>
  <% end %>

</nav>
