    <div class="wrapper py-0 alert-warning">
      <nav class="p-0 navbar navbar-expand-lg  d-flex align-items-center justify-content-center">

        <%= link_to "Se connecter", "", data: {toggle: "modal", target: ".bd-login-modal-lg"}, class:"btn btn-sm btn-link m-1 border-0"  %>
        <%= link_to "S'inscrire", "", data: {toggle: "modal", target: ".bd-signup-modal-lg"}, class:"btn btn-sm btn-link alert-warning m-1 border-0 signupBtn", context: "Show list", action: "signup"  %>

      </nav>
    </div>
