<ul class="list-group">
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    💖 Excellent!
     <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">100</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    💚 Super
     <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">60</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    💛 Bien
    <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">30</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    🧡 Moyen
    <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">10</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
  <li class="lead list-group-item d-flex justify-content-between align-items-center font-weight-bold px-2">
    💔 Pas top
     <div class="d-flex flex-column justify-content-end text-right">
      <p class="p-1 m-0"><strong class="text-secondary lead">- de 10</strong><small class="text-muted pl-1">points</small> </p>
    </div>
  </li>
</ul>
