<div class="wrapper d-flex flex-column bd-highlight" id="assistantWrapper" style="background: grey; height: 100vh;">

  <div class="sticky-top bg-transparent">
    <div class="container px-2">
      <nav class="px-0 navbar d-flex text-white font-weight-bold">
        <div class="navbar-brand d-flex align-items-center mr-auto bd-highlight" id="hideRecipeSearch" style="cursor: pointer;">
            <i class="fas fa-lg fa-arrow-left p-2"></i>
        </div>
      </nav>
    </div>
  </div>

  <div class="container px-0 d-flex align-items-center justify-content-center bd-highlight my-auto">
    <div id="recipeRecommendations" class="col-sm-4 my-auto" data="">

    </div>
  </div>

</div>
