<% if current_user %>
  <% if recipe.is_selected?(current_recipe_list) %>
    <button class="btn btn-light text-success border rounded removeRecipe bg-white shadow-lg" style="cursor: pointer;" data="<%= recipe.id %>"><i class="fas fa-check-circle"></i> Sélectionnée</button>
  <% else %>
    <button class="btn btn-light border text-muted rounded addRecipe bg-white shadow-lg" style="cursor: pointer;" data="<%= recipe.id %>"><i class="fas fa-check-circle"></i> Sélectionner</button>
  <% end %>
<% else %>
   <button class="btn btn-light border text-muted rounded bg-white shadow-lg" style="cursor: pointer;"  id="startAuthenticationBtn" data="<%= recipe.id %>"><i class="fas fa-check-circle"></i> Sélectionner</button>
<% end %>

