<%= simple_form_for [store, store_section_item] do |f| %>
    <div class="mt-4 bg-white">
      <label>Categories</label>
      <%= f.collection_select(:category_id, Category.order(:name), :id, :name, {:include_blank => true}, {:class => 'form-control form-control-lg select'}) %>
    </div>


    <div class="modal-footer bg-white">
      <%= f.submit "Continuer", class:"btn py-2 btn-warning px-5" %>
    </div>
<% end %>
