<div class="container my-5">
  <h1 class="display-4 font-weight-bold">Listes de courses</h1>
</div>

<hr class="my-4">


<div class="container">
  <!-- Button trigger Create List modal -->
  <button type="button" class="shadow text-white btn btn-flat2 btn-lg my-3" data-toggle="modal" data-target="#createListModal">
    <strong>Créer une nouvelle liste</strong>
  </button>

  <div class="list-group shadow">
    <%= render 'lists/index', lists: @lists %>
  </div>
  <div class="list-group shadow">
    <%= render 'lists/index', lists: @shared_lists %>
  </div>
</div>

<!-- Create List Modal -->
<div class="modal fade" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="createListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createListModalLabel">Nouvelle liste de courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <%= render 'lists/form' %>
      </div>
    </div>
  </div>
</div>



<!--
<div class="container my-5">
  <h1 class="display-4 font-weight-bold">Idées repas</h1>
  <p><small class="p-1">Inspirez-vous pour compléter vos listes de courses</small></p>

  <div class="list-group shadow">

    <% @recipes.each do |recipe| %>
      <%= render 'recipes/recipe-list-group-item', recipe: recipe %>
    <% end %>

  </div>

</div>
 -->
