
  <%= render 'shared/navbar_black' %>


<div class="banner d-flex flex-column">


  <div class="container mt-5 p-0">

    <div class="jumbotron text-center d-flex align-items-center flex-column bg-white p-0">

      <h1 class="display-4 m-0">Choisissez votre liste de courses</h1>
      <hr class="my-3">

        <div class="row m-2">
          <div class=" px-5 py-3 rounded text-center mb-2">

             <%= link_to "Créer une nouvelle liste", add_to_list_path, class:"btn btn-lg btn-warning font-weight-bold border-0 px-5 py-3" %>


            <% if @lists.any? %>
              <% @lists.sort_by(&:id).each do |list|  %>
                <hr class="my-4">
                <%= link_to "#{list.name}", list_path(list), class:"btn btn-lg btn-link" %>
              <% end %>
            <% end %>


          </div>
        </div>

    </div>


  </div>

</div>
