<div class="banner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= cl_image_path("home_photos/hp#{rand(1..53)}-min", crop: :scale, :quality=>"auto:low", :width => :auto, :responsive_placeholder => "blank", :fetch_format=>:auto) %>);">

  <%= render 'shared/navbar_white' %>

  <div class="container">
    <%= render 'shared/flashes' %>
  </div>

  <div class="container my-auto d-flex justify-content-center">
    <!-- Button trigger Start Groceries modal -->
    <button class="shadow-lg btn btn-lg btn-outline-flat2 font-weight-bold px-5 py-3" data-toggle="modal" data-target="#startGroceriesModal">Faire ma liste de courses</button>
  </div>

</div>


<%= render "lists/new_list_modal", list: @list %>
