<div class="container my-5">
  <h1 class="display-4 my-4 font-weight-bold">Listes de courses</h1>

  <div class="list-group shadow">
    <!-- Button trigger Create List modal -->
    <button type="button" class="sgadow-lg list-group-item list-group-item-action text-white btn btn-flat2 btn-lg" data-toggle="modal" data-target="#createListModal">
      <strong>Créer une nouvelle liste</strong>
    </button>

    <%= render 'lists/index', lists: @user.lists %>

  </div>

</div>

<!-- Create List Modal -->
<div class="modal fade" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="createListModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createListModalLabel">Nouvelle liste de courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'lists/form' %>
      </div>
    </div>
  </div>
</div>




<div class="container my-5">
  <h1 class="display-4 font-weight-bold">Idées repas</h1>
  <p><small class="p-1">Inspirez-vous pour compléter vos listes de courses</small></p>

  <div class="list-group shadow">

    <% @recipes.each do |recipe| %>
      <%= render 'recipes/recipe-list-group-item', recipe: recipe %>
    <% end %>

  </div>

</div>
