
<div class="banner" style="overflow-x: hidden; overflow-y: hidden;">
  <div class="wrapper m-0">
    <div class="row">
      <div class="col-md align-self-center">
        <div id="presentation" class="mb-5">
          <nav class="navbar navbar-light bg-transparent">
            <a class="navbar-brand d-flex align-items-center" href="/">
              <%= cl_image_tag("menu_icons/sparkling-heart", width: 20, height: 20) %>
              <span class="font-weight-bold rounded text-secondary">Supernet</span>
            </a>
          </nav>
          <div class="container my-4">
            <h1 class="display-4 font-weight-bold">Pas envie de vous organiser pour les courses ?</h1>
            <p class="lead py-3">Faites votre liste de courses plus vite que sur papier avec Supernet. Gratuitement !</p>

             <%= link_to "C'est parti !", start_path, class:"btn btn-light border btn-lg py-3 px-5 font-weight-bold m-1 text-primary shadow" %>
          </div>
        </div>
      </div>
      <div class="col-md" style="background-image: linear-gradient(90deg, rgb(1, 198, 86),rgb(47, 152, 24)); overflow-x: hidden; overflow-y: hidden;">
        <div class="container my-5 text-white" id="marketingBlock">
          <%= render "shared/marketing_benefit_1" %>
        </div>
      </div>
    </div>
  </div>
</div>
