
<nav class="container navbar navbar-light bg-white sticky-top d-flex align-items-center">
 <%= link_to root_path, class:"m-0 navbar-brand font-weight-bold d-flex align-items-center mr-auto bd-highlight" do %>
    <span style="background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 1.5rem;">
        Supernet
    </span>
  <% end %>
  <%= render 'shared/nav_actions' %>
</nav>

<div class="banner bg-white" style="overflow-x: hidden; overflow-y: hidden;">
  <div class="wrapper m-0">
    <div class="row">
      <div class="col-md align-self-center">
        <div id="presentation" class="mb-5">
          <div class="container my-4">
            <h1 class="display-4 font-weight-bold mb-3">Qu'est-ce qu'on mange ?</h1>

            <p class="lead">
             Trouvez votre prochaine idée repas à partir des produits de votre frigo et vos placards !
            <br>
            Super facile et sans pub <%= cl_image_tag("menu_icons/rocket", width: 20, class:"pb-1") %>
            </p>
             <%= link_to "Trouver une idée repas", assistant_path, class:"btn btn-lg btn-light px-4 py-2 border-0 rounded text-white shadow-lg", style:"background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)); font-size: 1.5rem;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
