
<div class="banner d-flex flex-column" style="background: linear-gradient(#e66465, #9198e5);">

  <%= render 'shared/navbar_white' %>

  <div class="container bg-transparent d-flex align-items-center my-auto">
    <div class="container text-white">
      <div class="row text-center">
        <div class="col-md-6 my-auto">
          <h2 class="display-4 font-weight-bold">Prêt.e pour les courses ?</h2>
          <p class="lead">Mama est l'application la plus fun pour faire les bonnes courses !</p>
          <%= link_to "J'essaye !", new_user_registration_path, class:"btn btn-light border btn-lg py-3 px-5 font-weight-bold goToSignupBtn" %>
        </div>
        <div class="col-md-6 d-flex flex-wrap justify-content-center p-0">
          <%= cl_image_tag("product_screens/iphonex_gamelist", :height=>500, :fetch_format=>:auto, class:"m-2") %>
        </div>
      </div>
    </div>
  </div>

</div>





