<% content_for :meta_title, "Mes produits" %>
<% content_for :meta_description, "Quels produits avez-vous à disposition ?" %>

<div id="assistant">
  <%= render 'pages/assistant_user' %>


  <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-body m-0 p-0" style="min-height: 50vh;">

          <div id="contentShow"></div>

        </div>
        <div class="modal-footer bg-white">
          <button type="button" class="btn btn-light border" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>


