<% content_for :meta_title, "De quoi avez-vous envie ?" %>
<% content_for :meta_description, "Trouvez une recette en fonction des produits à votre disposition !" %>

<div id="assistant">
  <% if current_user %>
    <%= render 'pages/assistant_user' %>
  <% else %>
    <%= render 'pages/assistant_visitor' %>
  <% end %>
</div>
