<% content_for :meta_title, "Listes de courses" %>



<div class="banner d-flex flex-column">


  <div class="container p-0">

    <div class="jumbotron text-center d-flex align-items-center bg-white flex-column p-0">

       <div class="display-4 font-weight-bold d-flex align-items-center">
          <%= cl_image_tag("menu_icons/sparkling-heart", width: 50, height: 50) %>
          <span class="pl-1">Supernet</span>
       </div>

      <hr class="my-3">

      <%= link_to "Nouvelle liste", new_list_path, class:"btn btn-light border p-3 px-5 m-1 font-weight-bold" %>



      <div class="px-3 pt-5 rounded text-center mb-2">
        <% if @lists.present? %>
            <% @lists.sort_by(&:id).reverse.each do |list|  %>
              <div class="d-flex flex-column m-0">
                <%= link_to "#{list.name}", list_path(list, ref: request.url), class:"h3 font-weight-bold" %>
                <% if false %>
                  <small>
                   <%= render "lists/edit_history", content: list.get_last_edit(current_user.id) %>
                  </small>
                <% end %>
              </div>
              <hr class="my-4">
            <% end %>
        <% end %>
      </div>


    </div>


  </div>

</div>




