<% content_for :meta_title, "Listes de courses" %>
<% content_for :meta_description, "Retrouvez toutes vos listes pour faire les courses facilement." %>



<div class="banner d-flex flex-column">


  <div class="container p-0">

    <div class="jumbotron text-center d-flex align-items-center bg-white flex-column p-0">

       <h1 class="bigh1 font-weight-bold">Vos listes de courses</h1>

      <hr class="my-3">

      <%= link_to "Nouvelle liste", new_list_path, class:"btn btn-flat2 p-3 px-5 shadow m-1 font-weight-bold" %>



      <div class="px-5 pt-5 rounded text-center mb-2">
        <% if @lists.present? %>
            <% @lists.sort_by(&:id).reverse.each do |list|  %>
              <div class="d-flex flex-column m-0">
                <%= link_to "#{list.name}", list_path(list, ref: request.url), class:"p lead font-weight-bold" %>
                <% if user_signed_in? %>
                  <%= render "lists/edit_history", content: list.get_last_edit(current_user.id) %>
                <% end %>
              </div>
              <hr class="my-4">
            <% end %>
        <% end %>
      </div>


    </div>


  </div>

</div>




