<h1>Merci !!</h1>
<p>Mama va étudier la recette dans les plus brefs délais pour l'ajouter dans son livre de cuisine</p>

<div>
  <%= link_to 'Envoyer une nouvelle recette', new_recipe_path, class: "form-block btn-primary" %>
</div>
<div>
  <%= link_to 'Importer une recette existante', import_recipes_path, class: "form-block btn-success" %>
</div>
<div>
  <%= link_to "Créer une recette avec l'assistant", assistant_path, class: "form-block btn-info" %>
</div>
