<% content_for :meta_title, "Cuisine" %>
<% content_for :meta_description, "Sélectionnez les recettes qui vous plaisent pour vos prochains repas !" %>

<% unless ["add_to_homescreen"].include?(params[:action])%>
  <div id="iOSInstallNavbar"></div>
  <div id="androidInstallNavbar"></div>
<% end %>

<div class="sticky-top bg-white">

  <div class="container px-2">
    <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-between">
       <a class="navbar-brand text-dark d-flex align-items-center m-0 text-muted" href="/assistant">
        <i class="fas fa-lg fa-arrow-left p-2"></i> <span class="text-white"></span>
      </a>
    </nav>
  </div>

</div>


<div class="container px-0 mb-5">
  <div id="recipesCuisine">
    <div id="recipesHeader">
      <h1 class="text-muted text-center p-2"><i class="fas fa-shopping-bag text-secondary"></i> Vos recettes</h1>
      <ul class="border-0 rounded-top list-group-item d-flex align-items-center justify-content-center pl-1 pb-0 m-0">
        <div class="d-flex align-items-center">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="fas fa-lg fa-check-circle text-success"></i><br>Sélectionnées</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favorites"><i class="fas fa-lg fa-star" style="color: #ffd700 ;"></i><br>Enregistrées</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center mt-3">
      <% if @recipes.present? %>

        <div id="recipeElements" class="col-sm-4 my-auto">
          <div class="container px-1">
            <div class="jumbotron text-center mb-2 px-2 py-3">
              <p class="pl-1 lead mb-3">
                <i class="fas fa-share"></i>
                 Partager votre sélection
              </p>

              <% if false %>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1">Créer un sondage</label>
                </div>
                <small class="text-muted">Toute personne disposant du lien pourra voter.</small>
              <% end %>

              <div class="d-flex">
                <!-- COPY LINK Target -->
                <input class="form-control" type="text" id="recipelistLink" value="<%= recipe_list_url(@recipe_list, host: request.host) %>">
                <!-- COPY LINK Trigger -->
                <button class="clipboard-btn btn btn-light border" data-clipboard-target="#recipelistLink" id="copyLink">
                    COPIER
                </button>
              </div>
            </div>
          </div>
          <%= render partial: 'recipes/recipe_card', collection: @recipes.sort_by{|r| r.title.parameterize }, as: :recipe, locals: {list: nil } %>
        </div>

      <% else %>
          <div class="d-flex align-items-center m-2 mt-5">
            <div id="description">
              <div class="d-flex w-100 flex-column mb-0">
                <p class="text-muted">Vous n'avez pas sélectionné de recette.</p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>



<div style="padding: 50px;"></div>

