<% content_for :meta_title, "Idées recettes" %>
<% content_for :meta_description, "Des idées recettes pour compléter vos courses et vous faire plaisir." %>



<div class="banner d-flex flex-column">


  <div class="container p-0">

    <div class="jumbotron text-center d-flex align-items-center bg-white flex-column p-0">

       <h1 class="bigh1 font-weight-bold">Idées recettes</h1>
<!--        <p class="text-muted">Sélectionnées en fonction de vos habitudes et des produits du moment</p>
 -->
      <hr class="my-3">


      <div class="rounded text-center mb-2">
        <div class="container p-0 my-4" id="recipeCategory">
          <div class="recipesGrid">
            <%= render 'card_grid', recipes: @recipes, list: @list %>
          </div>
        </div>
      </div>


    </div>


  </div>

</div>

