<% content_for :meta_title, "Favoris" %>
<% content_for :meta_description, "Toutes vos recettes préférées réunies au même endroit pour les retrouver facilement." %>




<div class="banner d-flex flex-column">
  <div class="container p-0">
    <div class="jumbotron text-center d-flex align-items-center bg-white flex-column p-0">
       <h1 class="bigh1 font-weight-bold">Vos favoris</h1>
       <hr class="my-3">
      <div class="rounded text-center mb-2">
        <div class="container p-0 my-4" id="recipeCategory">
          <div class="recipesGrid">
            <% if @recipes.any? %>
              <%= render 'card_grid', recipes: @recipes, list: @list %>
            <% else %>
                <div class="d-flex align-items-center justify-content-center m-2">
                  <div id="description">
                    <div class="d-flex w-100 flex-column mb-0">
                      <p class="lead text-muted">Pour ajouter une recette en favoris, cliquez sur <%= cl_image_tag("menu_icons/star", width: 20, height: 20, class:"m-0") %> dans la page recette.</p>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div style="padding: 50px;"></div>



