<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1192259447586250',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="wrapper">
  <div class="container">

    <div class="banner">
      <div class="row text-center">
        <div class="col-xs-12">

          <h1>Trouve des idées repas simples et appétissantes avec Mama 💚</h1>
          <h2>C'est gratuit et ça marche sur Messenger.</h2>

          <div class="fb-send-to-messenger"
            messenger_app_id="1192259447586250"
            page_id="111163226267868"
            data-ref="website"
            color="blue"
            cta_text="GET_STARTED_IN_MESSENGER"
            size="xlarge">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div style="margin-top: 50px; margin-bottom: 50px; display: flex; align-items: center; justify-content: center;">
      <div class="row text-center">
        <div class="col-xs-12">
          <%= cl_image_tag("hp_product_demo", class: "img-responsive") %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-copyright">
    💌 hello@foodmama.fr
  </div>
</div>
