<div class="banner d-flex flex-column">
  <div class="container p-0 ">
    <div class="jumbotron text-center d-flex align-items-center flex-column bg-white p-0">
      <h1 class="bigh1 font-weight-bold">Produits du quotidien</h1>
      <div class="px-5 py-3 rounded text-center my-2">
        <% if @checklists.present? %>
          <% @checklists.each do |list|  %>
              <%= link_to "#{list.name}", list_path(list, ref: request.url, l: @list_id), class:"p lead font-weight-bold" %>
              <hr class="my-4 mx-5">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
