<div class="container">
  <div class="shadow p-3 mb-2 bg-white rounded d-flex align-items-start justify-content-between flex-column">
    <h2 class="" id="title"><%= current_user.username %></h2>
    <p class="font-weight-light">Inscription le <%= current_user.created_at.strftime("%d/%m/%Y") %></p>
    <p class="font-weight-light">Email <%= current_user.email %></p>
    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"btn btn-danger mt-4" %>
  </div>
</div>
