
  <div class="container mt-3">
    <div class="d-flex flex-column">
      <div class="shadow-lg p-3 mt-4 mb-5 bg-light rounded">
        <h1 class="text-center" style="color:#FF3463;"><strong>Merci !</strong></h1>
        <p class="text-center font-weight-light">Vous êtes inscrit.e sur la liste d'attente en position:</p>
        <h1 class="text-center"><%= @user.id %></h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="d-flex flex-column">
      <div class="shadow p-3 mb-4 bg-light rounded">
        <h4 class="text-center" style="color:#FF3463;"><strong>Aidez-nous à faire connaître ClubMama !</strong> </h4>
        <p class="text-center font-weight-light">Invitez vos amis à s'inscrire en partageant ce lien:</p>
        <p class="text-center" style="color:#FF3463;"><strong>https://www.clubmama.co?ref=<%= @user.id %></strong></p>
      </div>
    </div>
  </div>

  <div class="container p-3">
    <%= link_to "Retour vers la page d'accueil", destroy_user_session_path, method: :delete, class:"btn btn-flat mt-4" %>
  </div>
