<%= render 'shared/admin-navbar' %>

<div class="container">
  <div>
    <h1>Verify Items </h1>
  </div>
  <div>
    <% @list_items.reverse.each do |list_item| %>
      <li>
        <%= list_item.id %> |
        <%= link_to list_item.name, new_item_path(:list_item_id => list_item.id), target: '_blank' %>
      </li>
    <% end %>
  </div>

</div>
