<!-- Button trigger Select Order modal -->
<a class="btn fixed-bottom btn-flat2 py-3 font-weight-bold mt-5" data-toggle="modal" data-target="#orderModal">Valider le panier à <span id="cartCostCounter"><%= price %></span>€</a>

<!-- Select Order Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-white">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Faites vos achats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
      </div>
    </div>
  </div>
</div>
