<div class="card-group">
  <% user.carts.where.not(merchant: nil).each do |cart| %>
    <div class="card">
      <div class="card-body d-flex flex-column align-items-center">
        <h5 class="card-title"><%=  cart.merchant.name.capitalize %></h5>
        <h3 class="card-title"><%= cart.get_total_price %>€</h3>
        <p class="card-text"><%= link_to "Voir le panier", cart_path(cart), class:"btn btn-sm btn-flat" %></p>
      </div>
    </div>
  <% end %>
</div>
