
<div class="container my-5">
  <h1 class="display-4 font-weight-bold">Courses</h1>
</div>

<hr class="my-4">

<div class="container">
  <!-- Button trigger Create Cart modal -->
  <button type="button" class="shadow text-white btn btn-flat2 btn-lg my-3" data-toggle="modal" data-target="#createCartModal">
    <strong>Créer un nouveau panier</strong>
  </button>

  <div class="list-group shadow">
    <%= render 'carts/index', carts: @carts.order(:created_at).reverse %>
  </div>
</div>


<!-- Create Cart Modal -->
<div class="modal fade" id="createCartModal" tabindex="-1" role="dialog" aria-labelledby="createCartModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCartModalLabel">Nouveau panier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">
        <%= render 'carts/form' %>
      </div>
    </div>
  </div>
</div>
