<div class="container">
  <div class="shadow p-3 mb-2 bg-white rounded">
    <h2 class="pl-0 pr-0 mb-0" id="title">🛒 Panier</h2>
    <span class="badge badge-secondary">le moins cher</span>
    <small>chez Leclerc</small>
    <p><%= @cart.cart_items.size %> articles</p>
    <h4><%= @cart.get_total_price %>€</h4>
  </div>
</div>


<div class="container">
  <% if @cart.cart_items.any? %>
    <div class="shadow p-0 mb-5 bg-white rounded">
      <div class="list-group list-group-flush">
        <% @cart.cart_items.order(:id).each do |cart_item| %>
          <%= render 'product-card', product_item: StoreItem.find(cart_item.productable_id), cart_item: cart_item %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="shadow p-0 mb-5 bg-white rounded">
      <a class="list-group-item list-group-item-action">
        <p class="mb-1">Le panier est vide.</p>
      </a>
    </div>
  <% end %>
</div>
