<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="row">
    <h1>Salad recipes</h1>
  </div>
  <div class="row">
    <% @recipes.order(:id).reverse.each do |recipe| %>
      <li>
        <%= recipe.id %> |
        <%= link_to recipe.title, recipe_path(recipe) %>
      </li>
    <% end %>
  </div>

</div>
