<div class="shadow p-3 bg-white d-flex flex-column" id="addProducts">

  <!-- Button trigger Add Products Modal -->
    <div class="btn btn-block text-left py-3 border border-primary rounded-0 border-top-0 border-left-0 border-right-0 text-muted">
      Que souhaitez-vous acheter ?
    </div>

  <div class="p-2 pt-3 d-flex align-items-center">
<!--     <i id="spinner" class="fas fa-circle-notch fa-spin text-primary"></i>
 -->
    <ul class="list-inline" id="itemsRecommendations"></ul>
  </div>

</div>



<!-- Add products Modal -->
<div class="modal fade" id="addProductsModal" tabindex="-1" role="dialog" aria-labelledby="addProductsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductsModalLabel">Catalogue <%= cart.merchant.name.capitalize %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-0 p-0">

        <%= form_tag(search_cart_path(cart), :method => "get", remote: true, authenticity_token: true, id: "search_product", class:"form-inline p-2") do %>
          <%= text_field_tag :query, params[:query], placeholder: "Chercher un produit", id: "keywords", class: "form-control string required border border-primary rounded-0 border-top-0 border-left-0 border-right-0 my-2 mr-2", style:"width: 90%; height: 3.5rem;" %>
          <%= button_tag(type: "submit", class: "p-0 btn btn-default") do %>
            <i class="fas fa-search text-primary"></i>
          <% end %>
        <% end %>

        <div id="products_list">

        </div>

      </div>
    </div>
  </div>
</div>
