<div id="cartItemsList<%= cart_item.id %>">
  <% if store_item.food.present? && store_item.food.store_items.present? %>
    <ul class="list-group list-group-flush">
      <small class="pl-3 text-muted">Produits similaires:</small>
      <% store_item.food.store_items.where(store: store_item.store)[0..49].sort_by{ |item| item.price }.each do |store_item| %>
        <%= render 'cart_items/cart_item_card', store_item: store_item, product: store_item, cart_item: cart_item %>
      <% end %>
    </ul>
  <% end %>
</div>
