


<div class="banner d-flex flex-column bg-white">
  <div class="sticky-top bg-white">
    <div class="container px-2">
      <nav class="px-0 navbar navbar-expand-lg d-flex bd-highlight">
        <div class="navbar-brand text-muted d-flex align-items-center mr-auto bd-highlight" id="hideNewlistItemForm" style="cursor: pointer;"><i class="fas fa-lg fa-arrow-left p-2"></i>
        </div>
        <button id="hideNewlistItemForm" class="btn btn-lg btn-light border text-primary">Terminer</button>
      </nav>
    </div>

    <%= simple_form_for([ list, item ], remote: true) do |form| %>
          <div class="container px-2 mb-1">
            <small id="inputHelpInline" class="text-muted px-2">
              Quels produits pouvez-vous cuisiner ?
            </small>
            <div class="search-form-control">
              <%= form.input :name, as: :string, label: false, placeholder: "Produit", input_html: { class:"m-0 rounded rounded-lg font-weight-bold form-control text-primary", style:"font-size: 1.2rem; height:65px;", id:"newListItem", autocomplete: 'off' }, wrapper_html: { class:"rounded rounded-lg shadow-lg m-0"} %>
              <%= button_tag(type: "submit", class: "btn btn-sm btn-light border font-weight-bold", id:"addListItemBtn") do %>
                Ajouter
              <% end %>
            </div>
          </div>
    <% end %>
  </div>

  <div class="container px-2 mt-5" id="savedProducts">
    <div id="itemsRecommendations" class="pb-5 mt-5">
      <%= render'lists/suggested_products', categories: @categories %>
    </div>
  </div>

  <div style="padding: 50px;"></div>

</div>

