  <div id="item-id<%= item.id %>">
    <li class="border-0 pl-3 list-group-item d-flex align-items-center justify-content-between" style="cursor: pointer;" id="<%= dom_id(item) %>" >

      <div class="d-flex align-items-center text-muted unselectedItem" data="<%= item.id %>">
        <i class="far fa-lg fa-square"></i>
        <p class="m-0 pl-2 p-1"><del><%= item.name %></del></p>
      </div>

    </li>
  </div>
