<div >
  <ul class="list-group list-group-flush">
    <% results.each do |store_item| %>

      <%= render 'store_cart_items/store_cart_item_card', store_item: store_item, product: store_item, store_cart_item: store_cart_item, store_cart: store_cart_item.store_cart %>

    <% end %>
  </ul>
</div>
