
<%= form_tag(list_send_invite_path(@list), class: 'form-group mb-0') do |f| %>
  <div class="shadow px-2 py-4 bg-white">
    <%= text_field_tag 'email', '', placeholder: "Email de la personne à inviter", type: "email", class:"form-control py-4 mb-3 rounded" %>
    <div class="d-flex align-items-center justify-content-end">
      <%= submit_tag "submit",:value => "Envoyer", class:"btn btn-warning closeModal" %>
    </div>
  </div>
<% end %>

