.btn-flat {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF3463;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white !important;
}

.btn-outline-flat {
  border: 1px solid black;
  color: #FF3463 !important;
  border-color: #FF3463;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
}

.btn-outline-flat:hover {
  background: #FF3463;
  color: white !important;
}

.btn-flat2 {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1BCB7F;
  transition: background 0.3s ease;
}

.btn-flat2:hover {
  background: #FF3463;
  color: white !important;
}

.link:hover {
  text-decoration: none !important;
}

.btn-outline-flat2 {
  background: transparent;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  border-color: white;
  transition: background 0.3s ease;
}
.btn-outline-flat2:hover {
  background: #FF3463;
  border-color: #FF3463;
  color: white !important;
}


