.footer {
  background: white;
  border-top: grey;
  height: 40px;
  padding: 0px 20px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  padding: 0px 5px;
}

