.nobreak {
  break-inside: avoid !important;
}

.center {
  text-align: center;
}

.pdf-recipe-head {
  background-color: white;
  // background-size: cover !important;
  background-position: center;
  position: relative;
  // box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  // margin-bottom: 15px;
  border-radius: 2px;
}

.pdf-recipe-title {
  padding: 5px 15px 5px 15px;
  h1 {
    font-size: 50px;
    margin-top: 0px;
    text-align: left;
  }
}

.pdf-banner {
  // background-color: #F1F1F1;
  // text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf-banner-content {
  align-self: center;
}

.pdf-banner-content h1 {
  // font-size: 100px;
  font-weight: bold;
  color: dodgerblue;
}
/* Logo */
.pdf-banner-content img {
  height: 50px;
}


// RECIPE INSTRUCTIONS
.pdf-instructions {
  font-size: 25px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 5px 15px 5px 15px;
  .instruction-line:last-child {
    margin-bottom: 0px;
  }
}

.pdf-instruction-head {
  display: flex;
  align-items: center;
  p {
    // margin-bottom: 10px;
    // font-size: 30px;
    font-style: italic;
  }
}

.pdf-instruction-list {
  // background-color: #F1F1F1;
  border-radius: 2px;
  // margin-top: 10px;
  ul {
    padding: 0px 0px;
  }
  li:last-child {
  border-bottom: none;
  }
}

.pdf-instruction-text {
  padding: 5px 0px;
  // font-size: 50px;
  p {
    margin: 0px;
    // font-family: Open Sans;
  }
}


// SHOPPING LIST
.pdf-ingredients {
  font-size: 25px;
  padding: 0px 15px 5px 15px;
  background-color: white;
}
// .pdf-ingredients {
//   padding: 5px 15px 5px 15px;
//   background-color: white;
//   border-radius: 2px;
//   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
//   margin-bottom: 10px;
// }

