.pdf-banner {
  color: black;
  // font-family: Open Sans;
  text-align: left;
  height: 75px;
  display: flex;
  align-items: center;
}

.pdf-banner-content {
  align-self: center;
}

.pdf-banner-content h1 {
  font-size: 100px;
  font-weight: bold;
  color: blue;
}
/* Logo */
.pdf-banner-content img {
  height: 75px;
}

/* Brandname */
.pdf-banner-content p {
  line-height: 75px;
  font-size: 50px;
  font-weight: 100;
}
