.pdf-recipe-head {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 10px;
    font-size: 30px;
    font-style: italic;
  }
  h2 {
    font-size: 75px;
    margin-bottom: 10px;
  }
  img {
    height: 30px;
    margin-right: 3px;
  }
}

.pdf-instruction-list {
  background-color: #F1F1F1;
  border-radius: 2px;
  margin-top: 10px;
  ul {
    padding: 0px 0px;
  }
  li:last-child {
  border-bottom: none;
  }
}

.pdf-instruction-text {
  padding: 5px 0px;
  font-size: 50px;
  p {
    margin: 0px;
    // font-family: Open Sans;
  }
}
