.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   color:white;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
}

.giveMeEllipsis4 {
   overflow: hidden;
   text-overflow: ellipsis;
   color:white;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; /* number of lines to show */
}

.bigh1 {
  font-size: 2.5rem;
}

