
  <%= simple_form_for @checklist do |f| %>
    <div class="p-3 bg-white">

    <%= f.input :name, placeholder: "Write a catchy title !" %>
    </div>

    <%= f.submit "Validate", class: "form-controlx" %>
  <% end %>
