<%= render 'shared/admin-navbar' %>

<div class="container">
  <div class="form-wrapper">

        <h2>New checklist:</h2>
        <div class="recipe-form">

          <%= render 'form' %>

        </div>

  </div>
</div>
