<%= simple_form_for([ list, list_item ], remote: true) do |form| %>
  <div class="my-2">
    <div class="search-form-control shadow-lg">
      <%= form.input :name, as: :string, label: false, placeholder: "Ajouter...", input_html: { class:"py-4 rounded rounded-lg font-weight-bold form-control form-control-lg", id:"newListItem" }, wrapper_html: { class:" rounded rounded-lg"} %>

      <%= button_tag(type: "submit", class: "btn btn-sm btn-primary", id:"addListItemBtn") do %>
        Ajouter
      <% end %>
    </div>

        <!-- NOT USED FOR NOW -->
          <% if false %>
            <i id="spinner" class="fas fa-circle-notch fa-spin text-primary mx-2"></i>
            <ul class="list-inline mx-2" id="itemsRecommendations">
            </ul>
          <% end %>

    </div>
<% end %>


