<%= simple_form_for([ list, list_item ], remote: true) do |form| %>

    <div class="shadow p-3 bg-white">

      <%= form.input :name, as: :string, :autofocus => true, label: false, placeholder: "Que voulez-vous ajouter à la liste ?", input_html: { class:"py-4 rounded-0 border-top-0 border-left-0 border-right-0", id:"newListItem" }  %>

      <div class="d-flex flex-wrap">
        <button class="btn btn-link btn-sm m-1">Légumes</button>
      </div>

      <div class="d-flex align-items-center justify-content-end">

        <%= form.submit 'Ajouter', class:"btn btn-block btn-outline-primary" %>

      </div>

    </div>



<% end %>
