
  <li class="list-group-item grocerylist-item-id<%= list_item.id %>">
    <%= list_item.name %>
    <% if @list.user == current_user %>
     <%= link_to list_list_item_path(list_item.list, list_item), method: :delete, remote: true do %>
        <button type="button" class="close ml-2 mr-3 remove-item" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
     <% end %>
    <% end %>
  </li>
