<div class="row">
  <div class="col giveMeEllipsis">

      <% list.get_curated_food.each_with_index do |food, index| %>
        <li class="btn btn-link p-0 recommendations" id="<%= index %>"><%= food.capitalize %></li>
      <% end %>

  </div>
</div>
