<div class="row">
  <div class="col giveMeEllipsis">
    <% if list.get_similar_food.present? %>
      <% list.get_similar_food.each_with_index do |food, index| %>
        <li class="btn btn-link p-0 m-0 recommendations" id="<%= index %>"><%= food.name.capitalize %></li>
      <% end %>
    <% else %>
      <% list.get_top_foods[0..15].each_with_index do |food, index| %>
        <li class="btn btn-link p-0 m-0 recommendations" id="<%= index %>"><%= food.name.capitalize %></li>
      <% end %>
    <% end %>
  </div>
</div>
