<!-- <div class="container">
  <div class="shadow p-3 mb-2 bg-white rounded d-flex align-items-center justify-content-between">
    <div>
      <h4 class="pl-0 pr-0 mb-0" id="title">Modifier</h4>
    </div>
  </div>
</div> -->

<%= render 'edit_form', list: @list, list_item: @list_item %>

<!--
<div id="detail-view">
  <% if @list_item.items.any? %>
    <% if @list_item.items.last.is_validated == true  %>
      <%= render 'validated_form', list: @list_item.list, list_item: @list_item %>
    <% else %>
      <%= render 'unvalidated_form', list: @list_item.list, list_item: @list_item, item: @list_item.items.last  %>
    <% end  %>
  <% end %>
</div>
 -->
