<p>Bonjour,</p>
<p><%= @list.user.email %> vous a envoyé une invitation pour une liste de courses partagée.</p>

<p>Pour accepter l'invitation et retrouver la liste, cliquez sur le lien ci-dessous: <br>
<%= link_to "J'accepte l'invitation", list_accept_invite_url(@list, :user_email => @email), class:"btn btn-sm btn-flat" %>
</p>

<p>Vous devrez créer un compte avec l'adresse utilisée pour cette invitation si vous n'en avez pas.</p>


<p>Mama
  <br>
<%= link_to "supernet.fr", root_url, target: "_blank"  %>
</p>
