<p style="margin:0;">Liste de courses:</p>
<ul style="list-style-type:none; padding:0; margin:0;">
  <% @list.list_items.not_completed.order(:id).each do |list_item| %>
    <li>- <%= list_item.name %></li>
  <% end %>
</ul>

<br>
<br>
<p style="margin:0;">Envoyé par <%= @list.user.email %></p>
<%= link_to "Cliquer ici pour ouvrir la liste", list_url(@list), target: "_blank", class:"p-0" %>
