
  <div class="d-flex align-items-center">
    <li class="lead text-primary mr-1 font-weight-bold"><%= link_to category.name, category_path(category) %></li>
     <small><%= category.get_store_section.name if category.get_store_section.present? %></small>
  </div>
