<div class="sticky-top bg-white">
    <div class="container px-2">
      <nav class="px-0 navbar navbar-expand-lg d-flex justify-content-end" style="background-color: transparent;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-lg fa-times p-2"></i>
          </button>
      </nav>
    </div>
</div>


<div id="categoryShow" class="bg-white">

    <div class="container px-2">
      <%= render 'categories/add', category: category, context: nil %>
    </div>

  <div class="container px-2">
    <div id="itemsRecommendations" class="pb-3">

        <div id="suggestions" class="listHeader mt-3"  data="">
          <div id="suggestionsHeader">
            <ul class="border-0 rounded-top d-flex align-items-center justify-content-between pl-1 pb-0 m-0">
              <div class="d-flex flex-column text-muted">
                <div class="m-0 pb-0 pl-1 d-flex align-items-center">
                    <span class="font-weight-bold lead" style="filter: brightness(1.40);"><%= category.name %> +</span>
                </div>
              </div>
            </ul>
          </div>
          <div id="suggestionsElements" class="sectionItems mt-1">
          <%= render partial: 'categories/add', collection: category.get_similar_categories[0..3], as: :category, locals: {context: nil} %>
          </div>
        </div>

    </div>
    <div id="relatedRecipes">
    </div>
  </div>



  <div style="padding: 50px;"></div>

</div>


