<div id="category-id<%= category.id %>" >
  <div class="btn btn-light border border-primary btn-lg px-4 py-3 font-weight-bold m-2 text-primary shadow-lg selectedCategory" data="<%= category.id %>"><%= render "categories/rating_indicator", category: category %> <%= category.name.capitalize %> <i class="fas fa-check text-success"></i></div>
</div>
