<div id="category-id<%= category.id %>" >
  <div class="btn btn-light border btn-lg px-4 py-3 font-weight-bold m-2 text-secondary shadow-lg unselectedCategory" data="<%= category.id %>"><%= render "categories/rating_indicator", category: category %> <%= category.name.capitalize %></div>
</div>
