<p style="margin:0;">Votre panier de courses <span class="font-weight-bold text-primary">Leclerc</span>:</p>
<br>
<ul style="list-style-type:none; padding:0; margin:0;">
  <% @cart.cart_items.each do |cart_item| %>
    <li><%= sprintf("%.2f", StoreItem.find(cart_item.productable_id).price) %>€ x 1 <%= cart_item.name %></li>
  <% end %>
</ul>
<p><%= @cart.get_total_price %>€</span></p>
<br>
<br>
<p style="margin:0;"><%= link_to "clubmama.co", root_url, target: "_blank"  %></p>
