<div class="mb-4">
  <%= link_to recipe.link, target: "_blank", style:"text-decoration: none;" do %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= recipe.title.capitalize %></h2>
        <p class="text-dark giveMeEllipsis"><%= recipe.foods.map{|f| f.name.capitalize}.join(", ") %></p>
      </div>
    </div>
  <% end %>
  <div class="border bg-white">
    <button type="button" class="btn btn-link btn-block text-danger" id=removeFromMenuBtn>Supprimer</button>
  </div>
</div>
